<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Cadastramento Busca Vaga</title>

	  <link rel="icon" type="image/png" href="../images/favicon.png" />

    <!-- Bootstrap -->
    <link href="/../javascripts/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/../javascripts/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/../javascripts/vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- Switchery -->
    <link href="/../javascripts/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
	<!-- iCheck -->
    <link href="/../javascripts/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/../stylesheets/css/custom.min.css" rel="stylesheet">

	  <link href="../javascripts/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="../javascripts/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="../javascripts/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="../javascripts/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="../javascripts/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<script src="/../javascripts/vendors/jquery/dist/jquery.min.js"></script>
<script src="../javascripts/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../javascripts/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../javascripts/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../javascripts/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="../javascripts/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../javascripts/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../javascripts/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../javascripts/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="../javascripts/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../javascripts/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../javascripts/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="../javascripts/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="../javascripts/vendors/jszip/dist/jszip.min.js"></script>
<script src="../javascripts/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="../javascripts/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="../javascripts/vendors/date.format/date.format.js"></script>
<script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="inicio" class="site_title"><span>Cadastramento Busca Vaga</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/avatar.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Busca Vaga</span>
                <h2> Busca Vaga</h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
				          <li><a href="/cadastroEmpresa"><i class="fa fa-edit"></i> Cadastro de empresas</a></li>
                  <li><a href="/parametros"><i class="fa fa-cog"></i> Parâmetros de empresas</a></li>
                  <li><a href="/cupom"><i class="fa fa-money"></i> Cupom</a></li>
                </ul>
              </div>


<!--
			  <div class="menu_section">
			  <h3>Professor</h3>
			  <ul class="nav side-menu">
					<li><a href="/chamada"><i class="fa fa-table"></i> Chamada <!---<span class="fa fa-chevron-down"></span>--><!--</a>
					</li>
			  </ul>
			  </div>
              <div class="menu_section">
                <h3>Financeiro</h3>
                <ul class="nav side-menu">
                  <li><a href="mensalidade"><i class="fa fa-usd"></i> Mensalidade</span></a>
                  </li>
                </ul>
              </div>
				<div class="menu_section">
			  <h3>Médico</h3>
			  <ul class="nav side-menu">
					<li><a href="/exame"><i class="fa fa-stethoscope"></i> Exames</a>
					</li>
			  </ul>
			  </div>
-->
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
             <a data-toggle="tooltip" data-placement="top" title="Logout" onclick="zera_global()" href="/" >
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->



    <!-- jQuery -->

    <!-- jQuery -->
    <script src="/../javascripts/vendors/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>
    <!-- Bootstrap -->
    <script src="/../javascripts/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/../javascripts/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/../javascripts/vendors/nprogress/nprogress.js"></script>
    <!-- Switchery -->
    <script src="/../javascripts/vendors/switchery/dist/switchery.min.js"></script>
	<!-- iCheck -->
    <script src="/../javascripts/vendors/iCheck/icheck.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/../javascripts/js/custom.min.js"></script>

    <script src="/../javascripts/js/funcoes.js"></script>
