<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Busca Vaga</title>

	  <link rel="icon" type="image/png" href="../images/favicon.png" />

    <!-- Bootstrap -->
    <link href="../javascripts/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../javascripts/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../javascripts/vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- Switchery -->
    <link href="../javascripts/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
	<!-- iCheck -->
    <link href="../javascripts/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../stylesheets/css/custom.min.css" rel="stylesheet">

	  <link href="../javascripts/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="../javascripts/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="../javascripts/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="../javascripts/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="../javascripts/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<script src="../javascripts/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../javascripts/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../javascripts/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../javascripts/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="../javascripts/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../javascripts/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../javascripts/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../javascripts/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="../javascripts/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../javascripts/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../javascripts/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="../javascripts/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="../javascripts/vendors/jszip/dist/jszip.min.js"></script>
<script src="../javascripts/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="../javascripts/vendors/pdfmake/build/vfs_fonts.js"></script>

  </head>

  <div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <a href="/"><h2 align="center"><img src="../images/logo_login.png"/></h2></a>
            <div class="x_title">
              <h2>Validador de Cupom</h2>
              <div class="clearfix"></div>
            </div>

            <% if(sucesso.length> 0){%>
            <div class="alert alert-success">
              <strong><%= sucesso %></strong>
            </div>
            <% } %>

            <% if(erro.length> 0){%>
            <div class="alert alert-danger">
              <strong><%= erro %></strong>
            </div>
            <% } %>

              <form action="" name="formulario" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Digite o cupom:
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="cod_cup" name="cod_cup" type="text" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>



                <script> var myStack = {"dir1":"down","dir2":"right","push":"top"}; </script>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-round btn-warning" type="reset">Limpar</button>
                    <button class="btn btn-round btn-success" type="submit">Validar</button>
                  </div>
                </div>

              </form>
			</div>
          </div>
        </div>
      </div>


    <script src="../javascripts/vendors/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>
    <!-- Bootstrap -->
    <script src="../javascripts/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../javascripts/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../javascripts/vendors/nprogress/nprogress.js"></script>
    <!-- Switchery -->
    <script src="../javascripts/vendors/switchery/dist/switchery.min.js"></script>
	<!-- iCheck -->
    <script src="../javascripts/vendors/iCheck/icheck.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../javascripts/js/custom.min.js"></script>

    <script src="../javascripts/js/funcoes.js"></script>

<%- include layouts/footer.ejs %>
